blueness
abcli
beautifulsoup4
boto3
folium
geojson
geopandas
matplotlib
opencv-python
pymysql
pyyaml
pylint
# https://medium.com/@dminhk/3-easy-steps-to-run-comfyui-on-amazon-sagemaker-notebook-c9bdb226c15e
pyngrok
pytest
python-dotenv[cli]
requests
tqdm
